<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>todos</title>
    <!--<link rel="stylesheet" type="text/css" href="css/home.css">-->
    <script type="text/javascript" src="js/jquery/jquery.js"></script>
    <script type="text/javascript" src="js/underscore/underscore.js"></script>
    <script type="text/javascript" src="js/backbone/backbone.js"></script>
    <script type="text/javascript" src="js/backbone/backbone.localStorage.js"></script>
    <link rel="stylesheet" href="css/todo_style.css">
  </head>

  <body>
    <h1>todos</h1>
    <table name="todo_table" id="todo_table">
        <thead>
            <tr>
                <th class="check_box">
                    <input type="checkbox" name="all_check" id="all_check" disabled/>
                </th>
                <th>
                    <input type="text" name="input_todo" id="input_todo" value="" placeholder="What needs to be done?"></input>
                </th>
            </tr>
        </thead>
        <tbody name="todo_list" id="todo_list">
        </tbody>
    </table>
    <footer>
      <a href="https://umamusume.jp/" target="_blank"><img src="img/uma.png" width="200px" height="50px"></a><br>
      <p>COPYRIGHT &#169; T.S ALL RIGHTS RESERVED.	</p>
    </footer>

    <script type="text/template" id="task-template">
        <tr>
          <td>
            <input type="checkbox" class="todo_chbox" <%= done ? 'checked="checked"' : '' %> />
          </td>
          <td>
            <div class="view">
                <label class="todo_text"><%= title %> </label>
                <button type="button" class="todo_delete" style="display: none;"></button>
            </div>
            <div class="edit_text">
                <input type="text" value="<%= title %>" />
            </div>
          </td>
        </tr>
    </script>
    <script type="text/template" id="info-template">
        <tfoot name="tfoot" id="tfoot">
            <tr>
                <td colspan="2">
                    <span id="items_left_text"><%= done %> items left</span>
                    <button type="button" id="change_display_all_btn" class="active">All</button>
                    <button type="button" id="change_display_active_btn">Active</button>
                    <button type="button" id="change_display_completed_btn">Completed</button>
                    <button type="button" id="completed_clear_btn">Clear completed</button>
                </td>
            </tr>
        </tfoot>
    </script>
    <script type="text/javascript" src="js/todo_backbone.js"></script>
  </body>
