<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>todos</title>
    <!--<link rel="stylesheet" type="text/css" href="css/home.css">-->
    <script type="text/javascript" src="js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/underscore/underscore.js"></script>
    <script type="text/javascript" src="js/backbone/backbone.js"></script>
  </head>

  <body>
    <h1>todos</h1>
    <table name="todo_table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="all_check" id="all_check" disabled/>
                </th>
                <th class="input_todo">
                    <input type="button"  name="input_todo" id="input_todo" value="" placeholder="What needs to be done?"><span>ssss</span></input>
                </th>
            </tr>
        </thead>
        <tbody name="todo_list" id="todo_list">
        </tbody>
        <tfoot name="tfoot" id="tfoot">
            <tr id="todo_footer" style="display:none;">
                <td colspan="2">
                    <span id="items_left_text">1 items left</span>
                    <button type="button" id="change_display_all_btn">All</button>
                    <button type="button" id="change_display_active_btn">Active</button>
                    <button type="button" id="change_display_completed_btn">Completed</button>
                    <button type="button" id="completed_clear_btn">Clear completed</button>
                </td>
            </tr>
        </tfoot>
    </table>
    <script type="text/javascript" src="js/backbone/todo.js"></script>
    <script type="text/template" id="task-template">
        <tr>
          <td>
              <span class="name"><%= name %></span>
          </td>
          <td>
              <span class="text"><%= text %></span>
          </td>
        </tr>
    </script>
  </body>
